[submodule "src/src/alpaca_lora_4bit"]
	path = src/src/alpaca_lora_4bit
	url = https://github.com/johnsmith0031/alpaca_lora_4bit
[submodule "src/alpaca_lora_4bit"]
	path = src/alpaca_lora_4bit
	url = https://github.com/johnsmith0031/alpaca_lora_4bit
